@{
    ViewData["Title"] = "Home Page";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Action List</title>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body class="bg-white" >
        <div class="text-center" style="background-color:dimgrey">
            <h1 class="display-4">Welcome</h1>
            <p><a href="~/Home/AddPatient" style="color:whitesmoke">Add a patient</a></p>
            <p><a href="~/Home/AddStaff" style="color:whitesmoke">Add a Staff</a></p>
            <p><a href="~/Home/AddAppointment" style="color:whitesmoke">Add an Appointment</a></p>
            <p><a href="~/Home/AddMedication" style="color:whitesmoke">Add a medication</a></p>
            <p><a href="~/Home/AddPatientsMedication" style="color:whitesmoke">Add patients medication</a></p>

            <p><a href="~/Home/Patient" style="color:whitesmoke">Patient table</a></p>
            <p><a href="~/Home/Staff" style="color:whitesmoke">Staff table</a></p>
        </div>

    </body>
    </html>

   