

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/site2.css" rel="stylesheet" />
</head>
<body>
    <div class="row" >
        <div class="col-md-4">
            <h2 class="text-theme-colored mt-0">Consumer-Focused</h2>
            <p class="font-weight-600">
                Innovations in the delivery of health care can result in more-convenient,
                more-effective, and less-expensive treatments for today’s time-stressed and increasingly empowered
                health care consumers.
            </p>
            <!--  <p class="mt-20">Healthcare Innovation Center will act as a cross-point between government, healthcare institutions, international organizations, industry leaders and healthcare innovators to accelerate health equity so all people and communities can thrive.</p>-->
            <!--     <a href="#" class="btn btn-default btn-theme-colored mt-15 mb-sm-30">Read more</a> -->
        </div>

        <div class="col-md-4">
            <h2 class="text-theme-colored mt-0">Processes & Technology</h2>
            <p class="font-weight-600">
                Innovative business models, particularly those that integrate health care
                activities, can increase efficiency, improve care, and save consumers time.
            </p>

            <p class="font-weight-600">
                New drugs, diagnostic methods, medical devices and systems offer the hope of better treatment and of
                care that is less costly, disruptive, and painful.
            </p>
        </div>

        <div class="col-md-4">
            <h2 class="text-theme-colored mt-0"> Educational Programs</h2>
            <p class="font-weight-600">
                Improving access of local institutions to best international practices and
                experience and developing professional workforce through implementation of innovative educational
                programs.
            </p>
        </div>
    </div>

</body>
</html>

